<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <section id="container">
        <header>
            <h1>Daily To-Do List</h1>
            <p>Manage your tasks with this easy to-do list.</p>
        </header>
        <section id="enter">
            <form action="/messages" method="POST">
                <input id="task" type="text" placeholder="Enter your task here" name="todoItem">
                <button type="submit" id="addList">Add to List</button>
            </form>
        </section>
        <section id="itemHere">
            
            <ul id="toDo"> 
                <% for(var i=0; i<todos.length; i++) {%>
                <li class="todos">
                  <span><%= todos[i].item %></span>
                  <!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> -->
                  <input type="checkbox" class="checked" value = "<%= todos[i].done %>" name="<%= todos[i].item %>" id= "<%= i %>" >
                </li>
              <% } %>
            </ul>
        </section>
        <section id="remain">
            <p>You have <span id="amount">0</span> tasks left</p>
        </section>
        <section id="cleared">
            <button id="endAll">Clear List</button>
            
        </section>
    </section>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>